# Ignore target and build output
target/
build/

# Ignore IDE-specific files
.classpath
.project
.settings/

# Ignore saved files from the application
Saved-PDF-Files/

# Ignore OS-specific files
.DS_Store

target/
target/
